# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
env.bak/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/
*.egg

# Miscellaneous
*.swp
*.swo
.DS_Store

data/*/
test_data/*

.venv*/
